#card{
    border-radius: 2%;
    background-color: rgb(10, 195, 228);
    height: 200px;
    width: 600px; 
    position: relative;
    top: 180px;
    left: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h2{
   position: absolute;
    color: white;
    align-items: center;
    left: 25%;
    top: 10%;
    
}
p{
    position: absolute;
    color: white;
    left: 12%;
    top: 34%;
}
button{
    position: absolute;
    background-color: orangered;
    color: white;
    border-color:rgb(10, 195, 228);
    border-radius: 20%;
    top: 60%;
    left: 43%;
}